[submodule "codeserver-AZ-container"]
	path = codeserver-AZ-container
	url = https://github.com/Deepanshu291/terraform-codeserver-module.git
[submodule "codeserver-AZ-VM"]
	path = codeserver-AZ-VM
	url = https://github.com/Deepanshu291/Azure-VM-tf.git

[submodule "codeserver-docker"]
	path = codeserver-docker
	url = https://github.com/Deepanshu291/docker-terraform.git
